
.app__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    /* margin-right: 9rem; */
    margin-top: 12rem; 
    padding: 1rem;
}
.app__content-h1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Sansita';
    font-style: normal;
    font-weight: 400;
    font-size: 148px;
    line-height: 152px;
    color: var(--color-golden);
    margin-bottom: 6rem;
    padding-left: 49rem;
}
.app__content p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
@media screen and (min-width: 2000px) {
    .app__content-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__content-h1 {
        font-size: 110px;
        padding: 0;
    }
}

@media screen and (max-width: 650px) {
    .app__content-h1 {
        font-size: 90px;
        line-height: 87px;
        padding: 0;
    }
    .app__content p{
        font-size: 25px;
    }
}

@media screen and (max-width: 450px) {
    .app__content-h1 {
        font-size: 50px;
        line-height: 70px;
        padding: 0;
    }
    .app__content p{
        font-size: 5px;
    }
}