.app__feedback{
    display: flex;
    justify-content: space-between;
    height: 160vh;
}
.app__feedback-head{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.v1__51 {
    width: 10rem;
    margin-left: 40rem;
    text-align: center;
    /* color: rgb(0, 0, 0 */
    /* position: relative; */
    /* height: fit-content;
    text-align: center; */
    font-family: 'Rufina';
    color: var(--color-golden);
    /* font-family: 'Sansita'; */
    font-style: normal;
    font-weight:600;
    font-size: 15rem;
    line-height: 140px;  
}
.img__rs2{
    transform: scaleY(-1);
}
.app__feedback-content{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.d2{
  justify-content: center;
  align-items: flex-end;
}
.app__feedback-wrap{
    display: flex;
    justify-content: space-around;
}
.img__fb{
    width:45rem;
    border: 5px solid var(--color-black);
    /* border-radius: 28px; */
    box-shadow: 0 3px 10px rgb(0,0,0,0.2  );
    padding: 1rem;
    margin-top: 3rem;
}
.text2{
    font-family: 'Rufina';
    max-width: 300px;
    font-style: oblique;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 3rem;
    /* margin-left: 13rem; */
  }
  .text3{
    font-family: 'Rufina';
   max-width: 300px;
   font-style: oblique;
   font-size: 2.5rem;
   text-align: left;
  }
  .name3{
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    font-family: 'Rufina';
    font-style: normal;
    font-weight: 700;
  }
  .name2{  
    text-align: center;
  }
  @media screen and (max-width: 1450px) {
    .app__feedback{
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }
    .img__rs2{
        display: none;
    }
    .img__rs{
        width: 10rem;
    }
    .v1__51{
        width: 100%;
        margin: 0;
        font-size: 6rem;
    }
    .app__feedback-wrap{
        margin-top: 2rem;
        display: flex;
        margin-bottom: 2rem;
    }
    .text2{
        margin-top: 2rem;
        font-size: 2.3rem;
    }
    .text3{
        margin-top: 2rem;
        font-size: 2.3rem;
    }
}
@media screen and (max-width: 700px) {
    .img__rs{
        width: 6rem;
    }
    .v1__51{
        width: 100%;
        margin: 0;
        font-size: 6rem;
    }
    .app__feedback-wrap{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .app__feedback-content-img{
        margin: auto;
    }
    .text2{
        margin:auto;
        font-size: 2.3rem;
    }
    .text3{
        text-align: center;
        margin:auto;
        font-size: 2.3rem;
    }
}