* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-color: #fff;
  color: #333;
  margin: 0;
}
.grid{
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
  display: grid;
  display: flex;
  grid-template-columns: 700px 200px;
  grid-template-rows: 100px 100px;
  grid-gap: 20px;
  
}

.v1_51 {
  width: 538px;
  color: rgb(0, 0, 0);
  position: relative;
  text-align: center;
  font-family:'Sansita', sans-serif;
  font-size: 40px;
  padding: 50px;
  margin: 0px auto;
}
.v1_52 {
  width: 200px;
  height: 250px;
  opacity: 1;
  position: absolute;
  border-top-left-radius: 79px;
  border-bottom-left-radius: 79px;
  background: url(../images/v1_52.png) center center / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 160px 650px;
  overflow: hidden;
}


.v1_55 {
  width: 538px;
  color: rgb(0, 0, 0);
  position: absolute;
  text-align: left;
  font-family: Limelight;
  font-size: 30px;
  opacity: 1;
  margin: 160px 100px;
}


.v1_58 {
  width: 400px;
  color: rgb(0, 0, 0);
  position: absolute;
  text-align: left;
  font-family: Sanchez;
  font-size: 16px;
  opacity: 1;
  margin: 210px 100px;
}

.v1_61 {
  width: 150px;
  color: rgb(255, 254, 254);
  background-color: black;
  position: absolute;
  font-family: NATS;
  font-size: 20px; 
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  margin: 400px 110px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  overflow: hidden;
  text-align: center;
}
.v1_62{
  position: absolute;
width: 750px;
height: 5px;
margin: 550px 100px ;
background: #461111;
border-radius: 14px;
}

