<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Limelight&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Sanchez&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=NATS&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
        <link href="./css/main.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <main class="grid">
         <div class="v1_51">Giới thiệu</div>
         <div class="v1_52"></div>       
               
         <span class="v1_55">Hoàng Lê Coffee</span>           
            
         <p class="v1_58">Đối với Hoàng Lê Coffee, chất lượng không phải là 'được kiểm soát' mà là 'được xây dựng'. Đó là sự nỗ lực được lặp đi lặp lại mỗi ngày , liên quan đến tất cả mọi người, và nó là một phần tất yếu của mọi công đoạn sản xuất. Rất đơn giản, đó là cách làm việc duy nhất mà chúng tôi biết được!</p> 
            
         <p class="v1_61">Xem thêm</p>
         <div class="v1_62"></div>
         
        </main>
            
            
        
    </body>
</html>