<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="font-awesome/css/fontawesome-all.css">
        <link href="./css/main.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <main class="grid">
        <article>
        
         <h1 class="v1_51">Phản hồi từ người tiêu dùng</h1>
         <div class="name1">Carson Hugn</div>   
         <div class="img1"><img src="images\Image.png" alt="wait"width="300px"></div>
         <div class="text2">“Là người sành điệu uống cà phê, lướt Web 24h mục Địa Điểm Uống Cà Phê Ngon, rất ấn tượng với bài viết về HOANG LE COFFEE Sở hữu bí quyết rang xay và chế biến Cà Phê Nguyên Chất độc nhất vô nhị,  nhóm chúng tôi quyết ghé xem sao, cà phê ngon thật, quán độc đáo lạ, giá rẻ, cả chưa từng trải nghiệm ở đâu,… sẽ ghé lần sau”. </div>    
         
        </article>
        <aside>
            <div class="text3">“Khám phá chuỗi không gian cà phê kết hợp văn hóa Tây Nguyên đẳng cấp và duy nhất, thật lạ và hay, cả nhóm chúng tôi cùng nhảy múa điệu Xoang của người dân tộc, bên ly CÀ PHÊ NGUYÊN CHẤT THƯỢNG HẠNG ngất ngây, mong các bạn xây dựng thêm nhiều không gian cà phê Tây Nguyên nữa trên cả nước” </div> 
            <div class="xx"></div>
            <div class="name3">Executive Chef</div>
            <div class="name2">Jane Cooper</div>            
            <div><img src="images\Image2.png" alt="" width="300px"></div>
        </aside>
        </main>

         
         
                
            
        
    </body>
</html>